<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 about">
        <h3>Sobre a empresa</h3>
        <p class="about">
          A Gigabyte Soluções oferece tecnologia, assistência e serviços de
          qualidade para atender suas necessidades digitais. Com uma ampla gama
          de produtos de informática, serviços de impressão e cursos
          especializados, estamos prontos para oferecer soluções rápidas e
          eficientes para o seu dia a dia. Nossa missão é fornecer inovação e
          suporte com excelência.
        </p>

        <a
          href="https://www.facebook.com/gigabyte.alecrim"
          target="_blank"
          class="btn btn-lg mx-2 rounded-circle btn-circle"
          role="button"
        >
          <i class="bi bi-facebook"></i>
        </a>
        <!-- Botão do Instagram -->
        <a
          href="https://www.instagram.com/gigabytealecrim/"
          target="_blank"
          class="btn btn-lg mx-2 rounded-circle btn-circle"
          role="button"
        >
          <i class="bi bi-instagram"></i>
        </a>

        <!-- Botão do WhatsApp -->
        <a
          href="https://api.whatsapp.com/send?phone=%2B555535461056"
          target="_blank"
          class="btn btn-lg mx-2 rounded-circle btn-circle"
          role="button"
        >
          <i class="bi bi-whatsapp"></i>
        </a>
        <a
          routerLink="/login"
          target="_blank"
          class="btn btn-lg mx-2 rounded-circle btn-circle"
          role="button"
        >
          <i class="bi bi-person"></i>
        </a>
      </div>
      <div class="col-sm-4">
        <h3>Contato</h3>

        <ul class="bi bi-envelope">
          contato&#64;gigabyte.inf.br
        </ul>

        <ul class="bi bi-telephone">
          (55) 3546-1056
        </ul>

        <ul class="bi bi-house">
          Av. Carlos Alberto Schaedler, 607, Centro, Alecrim/RS
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>Atendimento</h3>
        <h5>Segunda a Sexta</h5>
        <p class="bi bi-clock">08:00 às 12:00</p>
        <p class="bi bi-clock">13:30 às 18:00</p>
        <h5>Sábado</h5>
        <p class="bi bi-clock">08:00 às 12:00</p>
      </div>
    </div>
  </div>
</footer>
