<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="row align-items-center">
      <div class="col-md">
        <span>GIGABYTE SOLUÇÕES</span>
        <h1>
          Cursos, tecnologia, assistência e serviços para o seu dia a dia
          digital
        </h1>
      </div>

      <div class="col-sm">
        <img ngSrc="/assets/principal.jpg" priority width="669" height="536" />
      </div>
    </div>
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        Mais de <br />
        50
      </h2>
    </div>
    <p>
      cursos de tecnologia e informática para você se <b>especializar</b> e
      <b>crescer</b> profissionalmente com a Rede Datawork
    </p>
  </section>
  <section class="cta-section">
    <a
      href="https://api.whatsapp.com/send?phone=%2B555535461056"
      target="_blank"
      class="btn"
      role="button"
    >
      Fale com nossos especialistas
    </a>
  </section>
  <newsletter-form></newsletter-form>
  <section class="benefit-section pad-70 row align-items-start">
    <benefit-card
      class="col-md"
      card-title="Equipe capacitada"
      img-path="/assets/team.jpg"
      card-description="A Gigabyte Soluções conta com um técnico certificado que pode atender você na hora!"
    >
    </benefit-card>
    <benefit-card
      class="col-md"
      card-title="Loja equipada"
      img-path="/assets/project-guide.webp"
      card-description="Possuimos uma variedade de produtos de tecnologia, desde acessórios até equipamentos de última geração"
    >
    </benefit-card>
    <benefit-card
      class="col-md"
      card-title="Impressão de qualidade"
      img-path="/assets/printer.png"
      card-description="Oferecemos serviços de impressão de alta qualidade, desde documentos simples até materiais gráficos mais elaborados"
    >
    </benefit-card>
  </section>
  <section class="cta-section pad-70">
    <h2>
      Estamos aqui para suprir suas necessidades<br />
      tecnológicas e de impressão com praticidade e eficiência
    </h2>
    <a
      href="https://api.whatsapp.com/send?phone=%2B555535461056"
      target="_blank"
      class="btn"
      role="button"
    >
      Fale com nossos especialistas
    </a>
  </section>
</main>

<app-footer></app-footer>
